tokipona {
	font-family: linja-pona, sans-serif; 
}

english {
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	vertical-align: super;
	color: #aaa; 
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 2em; 
	background-color: #112;
	color: #fff;
}

h1 {
	font-style: oblique;
	font-size: 2em; }

.bold {
	font-weight: bold; }

p {
	max-width: 600px; }

#main {
	overflow-y: auto;
	display: block;
	padding-bottom: 15px;
	width: 100%;
	height: 100%;
	line-height: 100%;
	border: inset white 1px;
	font-size: 1.5em;}

button {
	font-size: 16px;
	border-radius: 3px;
	background-color: lightgrey;
	border: 1px solid grey;
	box-shadow: teal 2px 2px;
	cursor: pointer; }

button:hover {
	background-color: yellow; }

button:active {
	box-shadow: none; }

li {
	margin-bottom: 5px;
}

ul {
	padding:0px;
	margin:0px;
	list-style: none
}

footer {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid lightgrey; }

main {
	height: 500px; }

.searched {
	background-color:#dd0 
}

.searchterm {
	display:none;
}

.suggestions {
	font-family: helvetica, arial, sans-serif;
	background-color:#555;
	width:500px;
	height:200px;
	overflow-y:scroll;
	list-style: none;
	z-index: 1000;
	color: white;
	position: absolute;
}

definitiontype {
	vertical-align: top;
	color: #bbc;
	font-style: italic;
	text-align: right;
	width: 15%;
	display:inline-block;
	padding-left:auto;
}

definition {
	width:80%;
	padding-left:10px;
	display:inline-block;
}

/* prefer to split line at start of alternate definition */
definition span {
	display:inline-block;
}

.minidef { 
	padding:0 10px;
	margin-top:5px;
	width:auto 
}

.minidef tokipona {
	font-size:80%;
	color: #ddd;
/*	float:right;
/**/
}

.minidef definition {
	float:right;
	width: auto;
	color: #ccc;
	font-style: italic;
	text-align: right;
	display:inline-block;
	padding-left:auto;
}

.fulldefinition {
	margin-top: 5px;
	padding-right:10px;
}

.fulldefinition div {
	height: auto
	display:block;
}

::-webkit-scrollbar {
  width: 0px;
}